<!DOCTYPE html>
<html>
<head>
  <title>DaguerreoTyp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body>

<% if current_user %>
  <%= button_to "Logout", session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
